{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title > Travel tourism and management </title>
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body style="background-image: url('{% static 'images/home.jpg' %}');background-repeat:no-repeat;background-size:100%;";>
<a href = "{% url 'register' %}"> SIGN-UP |</a>
<a href="{% url 'login' %}">LOGIN |</a>

<a href="{% url 'changepassword' %}">CHANGE PASSWORD |</a>
<a href="{% url 'home' %}">HOME</a>
<br><br><br>
{% block 'b1' %}
<h2 align="center"><font color="green"> Travel Tourism Management</font> </h2>
{% endblock %}
</body>
</html>